

<h3>Satellite Counts:</h3>

<!-- <div class="counts">
   <div>Total: <span>{{total}}</span></div>
   <div>Space Debris: <span>{{spaceDebris}}</span></div>
   <div>Communication: <span>{{communication}}</span></div>
   <div>Probe: <span>{{probe}}</span></div>
   <div>Positioning: <span>{{positioning}}</span></div>
   <div>Space Station: <span>{{spaceStation}}</span></div>
   <div>Telescope: <span>{{telescope}}</span></div>
</div> -->

<div class="counts">
    <div>Total: <span>{{total}}</span></div>
    <div *ngFor="let type of types">{{type.name}}:<span>{{type.count}}</span></div>
</div>