
<h3>Orbit Report</h3>
<table>
    <tr class="header-row">
        <th class="sortable" (click)="sort('name')">Name</th>
        <th class="sortable" (click)="sort('type')">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <!-- TODO: put <tr *ngFor=""></tr> here -->
    <tr *ngFor= "let orbit of satellites" [class.strip-odd]="satellites.indexOf(orbit)%2 ===0">
        <td>{{orbit.name}}</td>
        <td [class.warning]="orbit.shouldShowWarning()">{{orbit.type}}</td>
        <td>{{orbit.operational}}</td>
        <td>{{orbit.orbitType}}</td>
        <td>{{orbit.launchDate}}</td>
    </tr> 
</table>
